dictionaries/tags/dictionaries-0.0.1/dtd/view_file.dtd

<?xml version="1.0" encoding="UTF8"?>
<!ELEMENT data-def ( (group | item)*)>
<!ATTLIST data-def
    name CDATA #REQUIRED
    version CDATA #REQUIRED
    concept CDATA #IMPLIED
>

<!-- 
==========================
item
========================== 
-->
<!ELEMENT item EMPTY>
<!ATTLIST item 
    key CDATA #REQUIRED
>

<!-- 
==========================
group
========================== 
-->
<!ELEMENT group ( group*, item* )>
<!ATTLIST group 
    key CDATA #REQUIRED
>

